﻿<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <h1 class="page-header">
        Atividades
        <a href="#/anuncio/0" class="btn btn-primary pull-right">NOVA ATIVIDADE</a>
    </h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Grupo</th>
                        <th>Resumo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="atividade in atividadesCtrl.atividades">
                        <td>{{::atividade.Titulo}}</td>
                        <td>{{::atividade.Grupo}}</td>
                        <td>{{::atividade.Resumo}}</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="#/anuncio/{{::atividade.Id}}">
                                <span class="glyphicon glyphicon-edit"></span> EDITAR
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
