﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="content">
                <form class="form-horizontal" name="form" ng-submit="anuncioCtrl.salvar()" novalidate>
                    <fieldset>
                        <legend>Cadastro de Anuncio</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Marca</label>
                            <div class="col-md-4">
                                <select ng-change="anuncioCtrl.listarModeloPorMarca()" ng-model="anuncioCtrl.anuncio.MarcaViewModel.Id" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.MarcasViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Modelo</label>
                            <div class="col-md-4">
                                <select ng-change="anuncioCtrl.listarVersaoPorModeloEAno()" ng-model="anuncioCtrl.anuncio.ModeloViewModel.Id" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.ModelosViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Ano Fabricação</label>
                            <div class="col-md-4">
                                <input ng-blur="anuncioCtrl.listarVersaoPorModeloEAno()" ng-model="anuncioCtrl.anuncio.AnoFabricacao" type="number" class="form-control input-md" ng-minlength="4" ng-maxlength="4">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Ano Modelo</label>
                            <div class="col-md-4">
                                <input ng-blur="anuncioCtrl.listarVersaoPorModeloEAno()" ng-model="anuncioCtrl.anuncio.AnoModelo" type="number" class="form-control input-md" ng-minlength="4" ng-maxlength="4">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Versão</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.VersaoViewModel.Id" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.VersoesViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Preço</label>
                            <div class="col-md-4">
                                <input ng-model="anuncioCtrl.anuncio.Preco" type="number" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Placa</label>
                            <div class="col-md-4">
                                <input ng-model="anuncioCtrl.anuncio.Placa" type="text" class="form-control input-md" ui-mask="AAA-9999">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Km</label>
                            <div class="col-md-4">
                                <input ng-model="anuncioCtrl.anuncio.Km" type="number" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cor</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.CorId" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.CoresViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Combustível</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.TanqueId" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.TanquesViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cambio</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.CambioId" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.CambiosViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Portas</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.PortaId" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.PortasViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Blindado</label>
                            <div class="col-md-4">
                                <input ng-model="anuncioCtrl.anuncio.Blindado" type="checkbox">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">0 km</label>
                            <div class="col-md-4">
                                <input ng-model="anuncioCtrl.anuncio.Zero" type="checkbox">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Estado</label>
                            <div class="col-md-4">
                                <select ng-change="anuncioCtrl.listarCidadePorEstado()" ng-model="anuncioCtrl.anuncio.EstadoId" ng-options="item.Id as item.Uf for item in anuncioCtrl.anuncio.EstadosViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cidade</label>
                            <div class="col-md-4">
                                <select ng-model="anuncioCtrl.anuncio.CidadeId" ng-options="item.Id as item.Descricao for item in anuncioCtrl.anuncio.CidadesViewModel" class="form-control">
                                    <option value="">Selecione uma opção</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-repeat="outraInformacao in anuncioCtrl.anuncio.AnuncioOutrasInformacoesViewModel">
                            <label class="col-md-4 control-label">{{outraInformacao.Descricao}}</label>
                            <div class="col-md-4">
                                <input ng-model="outraInformacao.Valor" type="checkbox">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Observações</label>
                            <div class="col-md-4">
                                <textarea ng-model="anuncioCtrl.anuncio.Observacoes" class="form-control input-md"></textarea>
                            </div>
                        </div>

                        <div ng-if="anuncioCtrl.anuncio.Id > 0">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Adicionar Fotos</label>
                                <div class="col-md-4">
                                    <input type="file" name="AnuncioFoto" accept="image/*" upload-files multiple>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-offset-4 col-md-8">
                                    Obs.: É possível selecionar todas as fotos de uma vez. Após selecionar as fotos clique em
                                    <span class="alerta" ng-click="anuncioCtrl.upload()">Fazer upload das fotos selecionadas</span>
                                </label>
                            </div>

                            <div class="form-group margin-top-20">
                                <label class="col-md-4 control-label">Fotos</label>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-md-2 margin-top-20" ng-repeat="anuncioFoto in anuncioCtrl.anuncio.AnuncioFotosViewModel">
                                            <img ng-if="anuncioFoto.CaminhoCompleto == false" ng-src="http://localhost:23292/Img/Anuncios/{{anuncioFoto.AnuncioId}}/{{anuncioFoto.Arquivo}}" class="img img-responsive" style="max-height: 50px" />
                                            <img ng-if="anuncioFoto.CaminhoCompleto" ng-src="{{anuncioFoto.Arquivo}}" class="img img-responsive" style="max-height: 50px" />
                                            <p class="remover" ng-click="anuncioCtrl.removerFoto(anuncioFoto.Id, anuncioFoto.Arquivo)">Remover</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>