﻿<!DOCTYPE html>
<html ng-app="meuApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/css")*@

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/components.css" rel="stylesheet" />
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    <link href="~/Content/css/header.css" rel="stylesheet" />
    <link href="~/Content/css/home.css" rel="stylesheet" />
    <link href="~/Content/css/navbar.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularJs")
    @Scripts.Render("~/bundles/angularJsModule")
    @Scripts.Render("~/bundles/angularJsController")
    @Scripts.Render("~/bundles/angularJsService")
</head>
<body>
    <main id="main">
        <header class="banner">
            @RenderPage("_NavBar.cshtml")
            @RenderSection("header", required: false)
        </header>

        @RenderBody()        
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
