﻿<section id="menu-site">
    <nav class="navbar navbar-default navbar-minha">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/img/header/logo-azul-claro-e-gelo.png" class="img-responsive" alt="App Escola Infantil - O Aplicativo Inteligente da sua Escola" title="App Escola Infantil - O Aplicativo Inteligente da sua Escola" />
                </a>
            </div>

            <div class="collapse navbar-collapse float-right menu">
                <ul class="nav navbar-nav">
                    <li><a href="#aplicativo-telas" title="Conheça o App Escola">Conheça o App Escola</a></li>
                    <li><a href="#fale-conosco">Entre em contato</a></li>
                </ul>
            </div>

        </div>
    </nav>
</section>
