<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="openMenu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" onclick="openNav()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="divCloseMenu" id="closeMenu" onclick="closeNav()"><a href="javascript:void(0)" class="closebtn">&times;</a></div>


            <a class="navbar-brand" href="#">UMBRACOLESS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" ng-click="logout()" class="logout">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>