<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{active: pageLocation == 'usuario'}"><a href="#/usuario">Dados Pessoais <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: pageLocation == 'anuncios'}"><a href="#/anuncios">Anúncios</a></li>
    </ul>
</div>

<div id="mySidenav" class="sidenav">
    <a href="#/usuario" onclick="closeNav()">Dados Pessoais</a>
    <a href="#/anuncios" onclick="closeNav()">Anúncios</a>
</div>