<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="content">
                <form class="form-horizontal" name="form" ng-submit="landingFormCtrl.save()" novalidate>
                    <fieldset>
                        <legend>Cadastro Landing</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Page name</label>
                            <div class="col-md-4">
                                <input ng-model="landingFormCtrl.pageName" ng-value="landingFormCtrl.pageName" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group" ng-repeat="pageProperty in landingFormCtrl.pageProperties.LandingPageProperties">
                            <label class="col-md-4 control-label" for="firstname">{{::pageProperty.DisplayName}}</label>
                            <div class="col-md-4">
                                <input type="{{pageProperty.Type}}" ng-class="{ 'form-control input-md': pageProperty.Type == 'text' }" ng-model="pageProperty.Value">
                            </div>
                        </div>

                        <div ng-repeat="pageSection in landingFormCtrl.pageProperties.LandingPageSections">
                            <legend>{{::pageSection.DisplayName}}</legend>
                            <div class="form-group" ng-repeat="pageSectionProperty in pageSection.LandingPageSectionProperties">
                                <label class="col-md-4 control-label" for="firstname">{{::pageSectionProperty.DisplayName}}</label>
                                <div class="col-md-4">
                                    <input ng-if="pageSectionProperty.Type != 'textarea'" id="{{pageSectionProperty.Key}}" name="{{pageSectionProperty.Key}}" type="{{::pageSectionProperty.Type}}" class="form-control input-md" ng-model="pageSectionProperty.Value" ng-checked="pageSectionProperty.Value == 'true'">
                                    
                                    <div ng-if="pageSectionProperty.Type == 'textarea'">
                                        <text-angular ng-model="pageSectionProperty.Value"></text-angular>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <legend>Tipo de Dados</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="staff">View</label>
                            <div class="col-md-4">
                                <select ng-change="landingFormCtrl.changeView()" ng-model="landingFormCtrl.procedureId" ng-options="item.Id as item.DisplayName for item in landingFormCtrl.pageProperties.Procedures" class="form-control">
                                    <option value="">Select an option</option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="landingFormCtrl.pageProperties.Procedure">
                            <legend>Parametros</legend>
                            <div class="form-group" ng-repeat="procedureFilter in landingFormCtrl.pageProperties.Procedure.ProcedureFilters">
                                <label class="col-md-4 control-label">{{procedureFilter.Filter.DisplayName}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-md" ng-model="procedureFilter.Filter.Value">
                                </div>
                            </div>
                        </div>

                        <hr />
                        <legend>Imagens - <a href="#/catalog/edit/{{landingFormCtrl.pageProperties.Catalog.Id}}" class="landing-page-editar" target="_blank">Editar</a> </legend>
                        <div ng-repeat="image in landingFormCtrl.pageProperties.Catalog.CatalogImages">
                            <div class="form-group">
                                <label class="col-md-4 control-label">{{image.CatalogImageType.DisplayName}}</label>
                                <div class="col-md-4">
                                    <img ng-src="http://umbraco.viajanet.com.br/static/assets/platform/img/catalog/{{landingFormCtrl.pageProperties.Catalog.Iata}}/{{image.Name}}" width="50" height="50" />
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>