<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <h1 class="page-header">
        Landings
        <a href="#/landingNew" class="btn btn-primary pull-right">NOVA LANDING</a>
    </h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>URL</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="landing in landingListCtrl.landings">
                        <td>{{::landing.Name}}</td>
                        <td>/{{::landing.Name}}</td>
                        <td>HABILITADO</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="#/landingEdit/{{::landing.Id}}/{{::landing.Name}}">
                                <span class="glyphicon glyphicon-edit"></span> EDITAR
                            </a>

                            <a href="#" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span> DESABILITAR
                            </a>

                            <a href="{{::landing.SiteBaseUrl}}/new/{{::landing.Name}}" target="_blank" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-remove"></span> PREVIEW
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
