h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f4f5f7;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
 
    border: 0;
}

.navbar-inverse .navbar-brand {
    color: #333333;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #333333;
    background-color: transparent;
}