html {
    height: 100%;
}
body.homepage {
    background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.panel-default {
    z-index: 15;
    position: relative;
    background: rgba(255,255,255,0.70);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
    border: 0;
}

.panel-title {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-default label {
    text-transform: uppercase;
    font-size: 12px;
}

.panel-default input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.panel-heading {
    padding: 30px 30px;
}
.panel-default>.panel-heading {
	background: transparent;
}
.panel-body {
    padding: 25px;
}

.btn-primary {
    background: #4285F4;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
}

.btn-primary:hover,
.btn-primary:focus {
    background: rgba(66, 133, 244, 0.90);
}

.ta-hidden-input{
    display: none;
}