/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

/* Position and style the close button (top right corner) */
.closebtn {
    font-size: 36px !important;
    color: #fff;
    line-height: 1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }

    .navbar-toggle.collapsed {
        display: block;
    }
}



@media screen and (min-width: 451px) and (max-width: 2000px) {
    .navbar-toggle.collapsed {
        display: none;
    }
}

.navbar-toggle.collapsed {
    background-color: #333;
    float: right;
    margin-right: 20px;
}

.divCloseMenu {
    background-color: #333;
    height: 34px;
    width: 44px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    border-radius: 4px;
    padding: 0px 12px;
    display: none;
}

.full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    display: none;
}