﻿.aplicativo-telas {
    background-color: #f1ece8;
    font-family: 'Istok Web';
}

    .aplicativo-telas img {
        margin: 0 auto;
        border: 1px solid #E9E0DA;
    }

    .aplicativo-telas .titulo {
        text-align: center;
        color: #003057;
    }

    .aplicativo-telas h3 {
        text-align: center;
    }

    .aplicativo-telas h4 {
        text-align: center;
    }

    .aplicativo-telas .descricao {
        text-align: justify;
    }

#integracao {
    background: url('/Content/img/home/portfolio-bg.jpg') no-repeat center top;
    margin-top: 25px;
    padding-top: 70px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #integracao h3 {
        text-align: center;
        color: #f1ece8;
    }

#fale-conosco h3 {
    text-align: center;
    color: #003057;
}
