<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="content">
                <form class="form-horizontal" name="form" ng-submit="usuarioFormCtrl.save()" novalidate>
                    <fieldset>
                        <legend>Cadastro de Empresa</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.Id" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nome</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.NomeCompleto" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">CMS Token</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.CMSToken" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Security Token</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.SecurityToken" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Security Token Key</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.SecurityTokenKey" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Tema</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.Theme" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">System Account Id</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.SystemAccountId" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Url</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.Url" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">WebApi Base Url</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.WebApiBaseUrl" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">WebApi Price Url</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioFormCtrl.usuario.WebApiPriceUrl" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <hr />
                        <legend>Propriedades</legend>
                        <div class="form-group" ng-repeat="property in usuarioFormCtrl.usuario.CompanyPropertiesItem">
                            <label class="col-md-4 control-label">{{::property.DisplayName}}</label>
                            <div class="col-md-4">
                                <input ng-if="property.Type == 'text'" id="{{property.Key}}" name="{{property.Key}}" type="text" class="form-control input-md" ng-model="property.Value">
                                <input ng-if="property.Type == 'checkbox'" id="{{property.Key}}" name="{{property.Key}}" type="checkbox" ng-checked="property.Value == 'true'" ng-model="property.Value">
                                <div   ng-if="property.Type == 'textarea'"><text-angular ng-model="property.Value"></text-angular></div>
                                <input ng-if="property.Type == 'uploadfile'" type="file" name="{{property.Key}}" accept="*" upload-files multiple>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>