<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <h1 class="page-header">
        Empresas
        <a href="#/company/edit/0" class="btn btn-primary pull-right">NOVA EMPRESA</a>
    </h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="company in companyListCtrl.companies">
                        <td>{{::company.Id}}</td>
                        <td>{{::company.Name}}</td>
                        <td>
                            <a class="btn btn-info btn-xs" href="#/company/edit/{{::company.Id}}">
                                <span class="glyphicon glyphicon-edit"></span> EDITAR
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
