﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="content">
                <form class="form-horizontal" name="form" ng-submit="usuarioCtrl.save()" novalidate>
                    <fieldset>
                        <legend>Meus dados pessoais</legend>
                        <div class="form-group" ng-hide="true">
                            <label class="col-md-4 control-label">Id</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Id" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nome</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.NomeCompleto" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Email" type="email" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group" ng-if="usuarioCtrl.usuario.TipoId != 2">
                            <label class="col-md-4 control-label">CPF</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Cpf" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group" ng-if="usuarioCtrl.usuario.TipoId == 2">
                            <label class="col-md-4 control-label">CNPJ</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Cnpj" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Data de Nascimento</label>
                            <div class="col-md-4">
                                <input date='dd/MM/yyyy' ng-model="usuarioCtrl.usuario.DataDeNascimento" type="datetime" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Celular</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Celular" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cep</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Cep" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Estado</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Estado" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cidade</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Cidade" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Bairro</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Bairro" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Logradouro</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Logradouro" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Numero</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Numero" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Complemento</label>
                            <div class="col-md-4">
                                <input ng-model="usuarioCtrl.usuario.Complemento" type="text" class="form-control input-md" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Logotipo</label>
                            <div class="col-md-4">
                                <input type="file" name="logotipo" accept="*" upload-files multiple> <br />
                                <img ng-show="usuarioCtrl.usuario.Logo" ng-src="{{usuarioCtrl.urlApi}}/Img/Usuarios/{{usuarioCtrl.usuario.Id}}/{{usuarioCtrl.usuario.Logo}}" width="50" height="50" />
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>